html{
	font-size: 10px;
}
body{
	font-size: 10px;
	 background-attachment: fixed;
     background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/sae_back.jpg');
  	background-position: center center, center center;
  	background-repeat: repeat, no-repeat;
	background-size: cover;
}
.cd-main-content{
	background:transparent!important;
}

#_members{
	background-color: white !important;
}
/*-------------nav -------------------*/
nav{
	margin-top: 50%;
	z-index: 1000;
	position: absolute;
	}
.red_clr{
	color: red;
}
.soc-links{
	position: absolute;
	font-weight: 500;
	border:0px solid black;
	left: 90%;
	font-size: 1.5rem;
	color:#333;
	display: none;
	transform: translate(-40%,-120%);
}
.soc-links>i:hover{
	color: red;
}
#tabs{
	background-color: #000;
	display: inline-block;
	border:0px solid black;
	width: 100vw;
	height:50px;
	padding: 35px;
}
#tabs > a{
	padding-left: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	border-right: 1px solid #f2f2f2;
	font-size: 1rem;
	color: #fff;
	letter-spacing: 3px;
}
#tabs > a:hover{
	color:red;
}
#tabs > a:active{
	font-color:red;
}
#home{
	margin-left: 10%;
}


.header_theme{
	background-color: #fff !important;
	color: red !important;

}

.tab-content{
	background:transparent!important;
}
/*-----------cover-------------*/
.cover{
	margin-left: 0%;
	position: absolute;
	display: block;
	width: 100%;
	height: 301px;
	background-color:transparent;
	background-image: url('../images/sae-cover.jpg');
	background-size: contain;
	border-image-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
}
.blur{
	display: block;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url('../images/blur.jpg');
	background-size: contain;
	height:301px;
}
/*-------misc-------------*/
.heavy{
	font-size: 3rem;
	font-weight: 800;
	letter-spacing: 2px;
	color: grey;
}

/*--------main content-----------*/
h1,h4{
	display: inline;
	font-weight: 800;
	
}
h1{
	letter-spacing: 5px;
	color: #ccc;
}
h2{
	color:#bfbfbf;
}


.main-content{
	display: block;
	z-index:10 !important;
	margin-top:5rem;
	border:0px groove black;
	padding: 5rem;
	border:0px solid black;

}

/*--------initial display---------*/
h3{
	letter-spacing:2px; 
	color:#d4d4d4;
	font-weight: 900;
}
.subs{
	margin-top: 10rem;
}
.subsheader{
	display: block;
	border:0px solid black;
	margin-left: 8rem;
	font-family: 'Dosis', sans-serif;
	font-size: 4rem;
    background: -webkit-linear-gradient(#e00, #000);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
	letter-spacing: 5px;
	opacity: 0.5;
}
li>img:hover, li>a>img:hover{
	animation: grow 0.5s ease-out;
	animation-fill-mode: forwards;
}

.shrunk{
	animation: shrinks 0.2s ease-in; 
	animation-fill-mode: forwards;
}
@keyframes shrinks{
	0%{	position: absolute;
		width: 500px;
	}
	99%{position: absolute;}
	100%{
			width: 200px;
		}
}
@keyframes grow{
	0%{
		position: absolute;
		width:200px;
	}
	100%{	position: absolute;
			width: 500px;
		}
}
.footer{
	background-color:black;
	display: block;
	padding: 2%;
}
/*----------flex slider-----------------*/
.slider{
	width: 90%;
	margin-left: 5%;
}


/*----------------forms----------------------*/
.my_form{
	display: inline-block;
	padding: 0% 0 5% 5%;
	border-left: 3px groove white;
	width: 30%;
	margin-left: 30%;
	border:10px solid black;
	position: absolute;
}
.my_form>input{
	text-align: center;
	background-color: white;
	border-radius: 5px;
	margin:1% 1% 1% 1%;
	width: 40%;
}
.my_form>input::placeholder{
	color: red;
	opacity: 0.7;
}
.my_form>.submit_button{
	width: 20%;
	height:30px;
	margin:4% 0 0 30%;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	background-color: green;
	color: white;
	font-weight: 900;
}
.my_form>.submit_button:hover{
	background-color: #0f0;
	font-size: 12px;
	color: #666;
}
#email, #message{
	width: 82.5%;
}
iframe.members{
	width: 100vw;
	height:370vh;
	overflow-y:hidden !important;
	overflow-x: hidden !important;
}
/*---------------------------------------------ALUMNI PAGE------------------------------------------*/
.people{
	width: 20%;
	display: inline-block;
	padding:2%;
	margin: 2% 0 0 0;
	border-right:0px solid black;
	
}
.people>img{
	width: 100%;
	padding-right: 2%;
}
#map{
	display: inline-block;
	width: 500px;
	height: 300px;
}
.about-us{
	display: inline-block;
	width: 30%;
	height:200px;
	border:10px solid black;
	margin-top: 0px;
	position: absolute;
	padding:2%; 
	color: white;
	text-align: center;
}

.photos{

}

/*---------------------------------------------FOOTER------------------------------------------*/
.logo{
	height: 100px;
}
.logo>img{
	height:70px;
	padding-right: 2%;
}
.logo2{
	margin-top: 50vh;
}
/*----------------about-------------------*/
p{
	font-size: 20px !important;
}
/* 04. _preloader
 *
 * ------------------------------------------------------------------- */
#_preloader {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh!important;
	width: 100vw!important;
	z-index: 800;
	background-color: black!important;
	border:10px solid black;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}
.object{
	position: relative;
	width: 16px;
	height: 100px;
	margin-right:10px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
	}

.object:last-child {
	margin-right: 0px;
	}

.object:nth-child(10){
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;	
	}
.object:nth-child(9){
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;	
	}	
.object:nth-child(8){
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;	
	}
.object:nth-child(7){
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
	}
.object:nth-child(6){
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;	
	}
.object:nth-child(5){
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
.object:nth-child(4){
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;		
	}
.object:nth-child(3){
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;	
	}
.object:nth-child(2){
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
	}						
	


@-webkit-keyframes animate {
 
  50% {
  	background-color: red;
	-ms-transform: translateX(-25px) scaleY(0.5); 
   	-webkit-transform: translateX(-25px) scaleY(0.5);
    transform: translateX(-25px) scaleY(0.5);
	
	  }
	  
	  

}

@keyframes animate {
  50% {
  	background-color: red;
	-ms-transform: translateX(-25px) scaleY(0.5); 
   	-webkit-transform: translateX(-25px) scaleY(0.5);
    transform: translateX(-25px) scaleY(0.5);
	  }

  
}




#_gallery{
	margin: 10% 0 10% 0;
}