
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SAE IIT Kanpur</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css"><!--google template-->
  <link rel="stylesheet" type="text/css" href="css/pages.css"><!--my_page-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css"><!--icons-->
  <link rel="stylesheet" type="text/css" href="css/flexslider.css"><!--slides of members page-->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="logo.ico" type="image/x-icon" /><!-- Place favicon.ico in the root directory -                    <!above navbar-->
  <link rel="stylesheet" href="css/csshome/Font_Families.css">
  <link rel="stylesheet" href="css/csshome/sponsors.css">  
  <link href="https://fonts.googleapis.com/css?family=Anton|Boogaloo|Luckiest+Guy" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
  <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet"><!--font for top panels-->

  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script><!--jquery-->
  <script src="js/jshome/vendor/modernizr-2.8.3.min.js"></script><!--template-->
  <script type="text/javascript" src="js/pages.js"></script><!--my_page-->
  <script defer src="js/jquery.flexslider.js"></script><!--slider-->
  <script src="materialize/js/materialize.js"></script><!--google template-->
  <script src="js/jshome/angular.min.js"></script>
  <script src="js/jshome/angular-sanitize.js"></script><!--angular addition-->
  <script src="js/jshome/sd.js"></script>
  <script src="js/jshome/main.js"></script><!--timeline-->
 
</head>
<body>

<style type="text/css">
  .full_size{height: 100vh!important;margin-bottom: 5%;}
</style>

<div class="_navbar">
    <img src="images/sae.jpg" style="position: absolute; height: 50%; margin: 1% 0 0 3%;">
    <div id="tabs">
      <a href="" onmouseenter="chng_color(this)"  id="home">home</a>
      <a href="" onmouseenter="chng_color(this)"  id="tab-about">about</a>
      <a href="" onmouseenter="chng_color(this)" >sponsors</a>
      <a href="" onmouseenter="chng_color(this)"  data-id="tab-members" class="">members</a>
      <a href="" onmouseenter="chng_color(this)"  data-id="tab-alumni">alumni</a>
      <a href="" onmouseenter="chng_color(this)" >gallery</a>
    </div>
    <div class="soc-links">
      <i class="fa fa-facebook-official"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-linkedin"></i>
    </div>  
</div>
                                          <!--top carousel-->
<div class="carousell carousell-sliderr center full_size" data-indicators="true">
    <div class="carousell-fixed-item center"></div>
    <div class="carousell-item white white-text" href="#one!">
      <div id="_homepagecarousel">
        <img src="images/gallery/14.jpg">
        <img src="images/gallery/2.jpg">
        <img src="images/gallery/3.jpg">
      </div>
    </div>
    <div class="carousell-item amber white-text" href="#two!">
      <div id="_aboutpage">
        <img src="images/about.jpg" class="_coverimg"/>
      </div>
      <span class="center_screen">About</span>
    </div>
    <div class="carousell-item green white-text" href="#three!">
      <div><img src="images/sponsors.jpg" class="_coverimg"></div>
      <span class="center_screen">sponsors</span>
    </div>
    <div class="carousell-item blue white-text" href="#four!">
      <div>
        <img src="images/members.jpg" class="_coverimg">
      </div>
      <span class="center_screen">members</span>
    </div>
    <div class="carousell-item yellow white-text" href="#four!">
      <div id="_aboutpage">
        <img src="images/alumni.jpg" class="_coverimg">
      </div>
      <span class="center_screen">Alumni</span>
    </div>
    <div class="carousell-item black white-text" href="#four!">
      <div id="_aboutpage">
        <img src="images/gallery/2.jpg" class="_coverimg">
      </div>
      <span class="center_screen">gallery</span>
    </div>
  </div>
   



                                          <!--tab-about-->

<section class="tab-content" id="_home"></section>

<section class="tab-content" id="_about">
  <main class="cd-main-content" style="background:white;">
        <section id="cd-placeholder-0" class="cd-section cd-container">
          <h2>About Us</h2>
          <p align="justify">SAE IIT Kanpur is a student run organization at one of the premier technical institutes of the country, Indian Institute of Technology, Kanpur. We are a team of highly motivated, enthusiastic, passionate and dedicated students who work towards the ultimate goal of building a ‘Racecar’. Our team comprises of students from a spectrum of different departments and years (i.e. First years to Post Graduates) who are passionate to pursue, explore, learn and gain experience in automotive. </p>
          <p style="margin-top:10px;" align="justify">We began our venture in the year 2011, by the collective efforts of a group of students with a strong urge to complement the theoretical knowledge imparted in classrooms, emphasizing on the practical aspects of engineering. Their idea to develop an automotive culture revolutionized the institute and SAE IIT Kanpur started with an initial strength of over 150 student members.The competitions we participate in are highly prestigious and are judged by the professionals who command respect in the automotive industry in order to showcase our technical prowess, skills and hone our knowledge pertaining to real life engineering.</p>
          <p style="margin-top:10px;" align="justify">By becoming a part of SAE IIT Kanpur, students embark upon the path that will nurture priceless practical skills in their respective fields of both engineering and business, enriching their college experience and equipping them with the knowledge that will allow them to prosper in their chosen career.</p>
        </section>
        <section id="cd-placeholder-1" class="cd-section cd-container">
          <h2>SAE International</h2>
          <p>SAE International, founded in 1905, is a global association of more than 1,38,000 engineers and related technical experts dedicated to advancing mobility technology for use in everyday life. SAE India is an affiliate society of SAE International registered in India as a national non-profit engineering and scientific society dedicated to advancement of mobile industry in India.</p>
        </section> <!-- #cd-placeholder-1 -->

        <section id="cd-placeholder-2" class="cd-section cd-container">
          <h2>Formula SAE</h2>
          <p>Formula SAE is an international student design competition sponsored by the Society of Automotive Engineers. The program simulates real-world engineering design projects and related challenges with the goal of developing and building a small Formula-style race car. Teams from countries around the world compete in static and dynamic events. </p>
          <p style="margin-top:10px;">The concept behind Formula SAE is that a fictional manufacturing company has contracted a student design team to develop a small Formula-Style Race Car. The Prototype Race Car is to be evaluated for its potential as a production item. The target marketing group for the race car is the non-professional weekend autocross racer. Each student team designs, builds and tests a prototype based on a series of rules, whose purpose is both ensuring on-track safety (the cars are driven by the students themselves) and promoting clever problem solving.</p>
          <h3>FSAE Rules & Regulations</h3>
          <p>Teams taking part in Formula SAE are judged in a series of static and dynamic events. Static events include things like business presentation engineering design and cost and sustainability.The teams who pass the static events are then allowed to participate in the dynamic events where they are scored based on how well their vehicle performs in various tasks. Therefore, Formula SAE encompasses all aspects of a business including research, design, manufacturing, testing, developing, marketing, management, and fund raising.</p>
          <p style="margin-top:10px;">Full description of the static events is following,</p>
          <div class="insert-media">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="i in arr.about_event.static" ng-class="{active: $index==0}">
                  <img ng-src="img/About/{{i.image_src}}">
                  <div class="carousel-caption">
                    <h2>{{i.name}} ({{i.points}} Points)</h2>
                    <p>{{i.des}}</p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="font-icon font-icon-arrow-left2" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="font-icon font-icon-arrow-right2" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <p style="margin-top:10px;">Full description of the dynamic events is following,</p>
          <div class="insert-media">
            <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="i in arr.about_event.dynamic" ng-class="{active: $index==0}">
                  <img ng-src="img/About/{{i.image_src}}">
                  <div class="carousel-caption">
                    <h2>{{i.name}} ({{i.points}} Points)</h2>
                    <p>{{i.des}}</p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                <span class="font-icon font-icon-arrow-left2" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                <span class="font-icon font-icon-arrow-right2" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <p style="margin-top:10px;">The volunteers for the design judging include some the racing industry's most prominent engineers and consultants including the late Carroll Smith, Bill Mitchell, Doug Milliken, Claude Rouelle, Jack Auld, John LePlante, Ron Tauranac, and Bryan Kubala.</p>
        </section> <!-- #cd-placeholder-2 -->

        <section id="cd-placeholder-3" class="cd-section cd-container">
          <h2>BAJA SAE</h2>
          <p>Baja SAE is another design competition held under the banner of SAE International. It encourages teams of students from universities all over the world to design and build small off-road vehicles adhering strictly to rules. The vehicle must be safe, easily transported, easily maintained and fun to drive.It should be able to traverse rough terrain without damage. It is held in US, India, Brazil, South Africa and Korea. In India, the event is organized by SAE India.</p>
        </section>

        <section id="cd-placeholder-5" class="cd-section cd-container">
        <h2>Effi-Cycle</h2>
        <p>Efficycle is an intercollegiate design competition for undergraduate and graduate students where teams have to design and fabricate an energy efficient entirely human powered three-wheeled vehicle. The vehicle must be aerodynamic, highly engineeredand ergonomically designed. The design should be commercially viable as a product andshould be attractive to the consumers because of its visual appearance, performance,reliability and ease of operation. 
        </p><br>
        <p>The Competition includes designing, validating and fabricating a three wheeled vehicle driven by two drivers. The vehicle would be capable to be driven simultaneously as well as alternatively by two drivers. The vehicle would be evaluated for its design and performance and the teams compete against each other. The cumulative scores of all the events would decide the overall ranking of the teams in the event. </p>
        </section> <!-- #cd-placeholder-5 -->
        
        <section id="cd-placeholder-6" class="cd-section cd-container">
          <h2>Alumni</h2>
          <p align="justify">
            For the past few years, alumni have provided guidance and have imparted very crucial information thus helping us inch closer to our goal.Many alumni have come forward exceeding our expectations and have helped us achieve the current position which we are in. Currently our alumni are working in leading companies in the industry namely General Motors, Mitsubishi, Honda, Tata and Bajaj.Our alumni have been our backbone in the past years.The help and contribution that we get from our alumni is of utmost importance in nurturing our project and honing the skills of our team. Contribution in terms of parts, training or exploring industrial contacts would help us immensely in strengthening our position.
          </p>
        </section>

          

          <section id="cd-placeholder-8" class="cd-section cd-container">
            <h2>Our Present Goals</h2>
            <p align="justify">
              We are competing in Supra’16 which is a college based competition held under the banner of SAE India. We will be using F16 which is presently the lightest FSAE car in the country. Simultaneously, we are designing the FSAE car for the next season using which we will be competing in Formula Student India 2017 and Supra’17.
            </p>
          </section>

          <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Formula Bharat '16</h2>
        <p align = "justify">We competed in FS India for the first time in 2016 and this was our second participation in FS events. Weight reduction, manufacturability and reliability were the key design goals. Ergonomics and compact packaging were the major areas of improvement this year. Smokin’em all #90!</p>
        <a href="#0" class="cd-read-more"></a>
        <span class="cd-date">Jan '16</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="img/cd-icon-movie.svg" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Baja Student '16</h2>
        <p>This was our second off road vehicle which was built to compete in the competition BSI 2016. The design objectives were to build a robust, light weight and efficient vehicle that could endure the brutality of off road tracks. We designed and fabricated our gear box which was the central jewel in our masterpiece. It weighed 68% less than that used in the previous season. Our car had a compact packaging of all the components which ultimately ensured lower center of gravity, weight reduction and thus better maneuverability and performance. The final weight of the car was 161 kilograms which was a reduction of 20% from the previous car. Viva La #92!</p>
        <a href="#0" class="cd-read-more"></a>
        <span class="cd-date">Jan '16</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Baja Student '15</h2>
        <p>Our first off-road vehicle which was agile and lightweight. Design objective was to build light weight car that could perform in harsh conditions. Since it was our first car our, one of our objectives was to successfully complete all the dynamic events without major component failure and yet delivering the maximum performance. The vehicle dynamics associated with the car were highly tunable which gave us the freedom to juice the best out of our car. Will always be loved #21!</p>
        <a href="#0" class="cd-read-more"></a>
        <span class="cd-date">Jan '15</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="img/cd-icon-location.svg" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Formula Student '15</h2>
        <p>We started our first season of Formula SAE with emphasis being laid on designing a car which is simple yet efficient. Drivability, reliability and cost effectiveness were the specific areas focused upon.Emphasis was laid on maximizing the learning curve and working things out from the very basic principles. Various tests were performed for different subsystems of the car so as to enhance the final performance. Documentation of the whole design process was also done to make sure all the data was available for any future reference. Thus, a data driven design process focused on the basic principles of designing resulted in the building of an efficacious car. The grand ancestor of all #091!</p>
        <a href="#0" class="cd-read-more"></a>
        <span class="cd-date">Jan '15</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  </section> <!-- cd-timeline -->
  </main>
</section>




                                          <!--tab-sponsors-->
  <section class="tab-content" id="_sponsors">
    <main class="cd-main-content" style="background:white;">
      <section id="cd-placeholder-0" class="cd-section cd-container">
        <h2>Our Proud Sponsors</h2>
        <h3>Season-I Sponsors</h3>
        <div class="sponsors-list">
          <div class="row">
            <a ng-repeat="i in arr.sponsor_list" ng-href="{{i.website}}" target="_blank" class="col-md-3 col-xs-3">
               <img ng-src="img/sponsors/{{i.image_src}}" style="">
            </a>
          </div>
        </div>
      </section>
      
      <section id="cd-placeholder-1" class="cd-section cd-container">
        <h2>About Our Sponsors</h2>
        <p>
          SAE IITK is always looking for new partners who can support and better our project. Besides increasing brand awareness through various events, partnering with us also brings you in contact with young, motivated potential employees. Projects like Formula SAE Italy provides our team members with more practical knowledge and experience and an edge over other graduates. Our team members have the unique and valuable experience of building a complete car encompassing aspects like designing, manufacturing, testing and marketing. Being adept in not only technical domain but also in team work, organisation and project management, they develop strong principles and skills in professionalism, work-ethics and leading from the front.
        </p>
        <p style="margin-top:10px;">
          The media and public attention of FSAE has always been on the rise. We always emphasize our relationship with sponsors when we managing or holding any event. Being associated with young, dynamic motivated technical students from one of the best engineering institute of the country is great when you are looking to further enhance your company's image. This goal being accomplished through multiple planned publicity avenues taken care by our dedicated marketing and event-management team.
        </p>
      </section> <!-- #cd-placeholder-1 -->

      <section id="cd-placeholder-2" class="cd-section cd-container">
        <h2>Sponsors' Role</h2>
        <h3>Financial Assistance</h3>
        <p>Finance is the lifeline of any project. We welcome sponsorship of any amount which will help this initiative to be successfully completed.</p>
        <h3>Technical Knowledge and Guidance</h3>
        <p>The success of this project is dependent on the technical know-how which is often not available in academic circles. Your contribution on this front will be invaluable.</p>
        <h3>Parts Sponsorship</h3>
        <p>The completion of the Formula Race Car is dependent on the availability of special parts that are rarely available in the open market.</p>
        <h3>Industrial Contacts</h3>
        <p>Sometimes, getting in touch with the right people is more important for taking the project ahead. Various machining processes and heat treatment processes require expertise and knowledge that may be rare.</p>
      </section> <!-- #cd-placeholder-2 -->

      <section id="cd-placeholder-3" class="cd-section cd-container">
        <h2>Sponsors Scheme</h2>
        <table style="table-layout:fixed;">
          <thead>
            <tr><th style="padding-top:20px;">Benefits</th><th>Title<br>( 700k+ )</th><th>Gold<br>( 500k+ )</th><th>Silver<br>( 300k+ )</th><th>Bronze<br>( 100k+ )</th><th>Partner<br>( 50k+ )</th></tr>
          </thead>
          <tbody>
            <tr><td>Tax Exemption</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td></tr>
            <tr><td>Promotion On Team's Fan Page</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td></tr>
            <tr><td>Website (Logo And Hyperlink)</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td></tr>
            <tr><td>Newsletter</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td></tr><tr><td>Poster At Pit</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td></tr>
            <tr><td>Sponsor Logo On Car</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td></tr>
            <tr><td>Recruitment From IIT</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td></tr>
            <tr><td>Publicity In College Festivals</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td><td><span class=""></span></td></tr>
            <tr><td>Recognition During Media Exposure</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td><td><span class=""></span></td></tr>
            <tr><td>Logo On Apparel And Helmet</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td><td><span class=""></span></td><td><span class=""></span></td></tr>
            <tr><td>Company's Name Associated With Vehicle's Name</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td><td><span class=""></span></td><td><span class=""></span></td><td><span class=""></span></td></tr>
            <tr><td style="padding-bottom:20px;">Promotional Displays At Company's Events</td><td><span class="font-icon font-icon-checkbox-checked"></span></td><td><span class=""></span></td><td><span class=""></span></td><td><span class=""></span></td><td><span class=""></span></td></tr>
          </tbody>
        </table>
      </section> <!-- #cd-placeholder-3 -->

      <section id="cd-placeholder-4" class="cd-section cd-container">
        <h2>Why Sponsor Us</h2>
        <h3>Sponsor Logo on the car</h3>
        <p>The company logo will be displayed on prominent positions on the car as well as on team uniforms publicizing the company in an international event. There are 10,000 students participating across the world and an event audience of over 100,000 enthusiastic people. FSAE is an irresistible chance to market your valuable brand.</p>
        <h3>Official night</h3>
        <p>We will organize an event where you can view the car up close, ask questions and meet the entire team including faculty members and special guests.</p>
        <h3>Public Events</h3>
        <p>Our team will attend a number of public events a year. Some of which includes the prestigious Auto Expo in Delhi, Mini Auto Expo in Chandigarh and industry visits.</p>
        <h3>Promotional displays</h3>
        <p>We will present our car at various company events our sponsors may hold throughout the year. This will allow company employees an opportunity to see the car as well as their associates and will make company stand out at an expo.</p>
        <h3>Corporate Social Responsibility</h3>
        <p>Funding and guiding a project which support innovation for development of new technology will add to CSR of your company.</p>
        <h3>College Festivals</h3>
        <p>Our sponsors will be promoted through Techkriti (our technical festival) where the car will be displayed.</p>
        <h3>Talent from IIT</h3>
        <p>Your company would be invited by our institute where you can take the best students of the country as your future employees.</p>
        <h3>Sponsor Focus in Newsletter</h3>
        <p>The sponsor companies will get focus in our newsletter highlighting their products/brands. The newsletter will reach all the stakeholders (sponsors, administration, faculty etc.) and in our residency campus comprising 10000 residents.</p>
        <h3>Website</h3>
        <p>We have a website that highlights sponsor contribution in great detail whilst showcasing the car design and the team and providing regular updates on the team's progress. Also, the technical details we provide on our site serve as a platform of learning for many students.</p>
        <h3>Launch</h3>
        <p>Once manufacturing is complete, a press confrence will be organised to unveil the car, which will give our sponsors maximum coverage in national print and television media.It will also involve faculty members,engineers and technicians from various places.</p>
        <h3>Tax Exemption Benefits</h3>
        <p>Income Tax rebate of 25% for research purpose (Section 35, Income Tax Act)</p>
      </section> <!-- #cd-placeholder-4 -->

      <section id="cd-placeholder-5" class="cd-section cd-container">
        <h2>Our Brochure</h2>
        <div data-configid="16498224/12646253" style="width:650px; height:459px;" class="issuuembed">
        </div>
        <script type="text/javascript" src="http://e.issuu.com/embed.js" async="true">
        </script>
      </section>

  </main>
</section>




                                          <!--tab-members-->
<section class="main-content tab-content" id="_members">
<h1 style="margin-left: 10%;color: #555;">MEMBERS</h1><h4> PAGE</h4>
<section class="subs">
      <span class="subsheader">Faculty</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <a href="http://home.iitk.ac.in/~sde/">
                <img src="images/member/santanude.jpg" />
              </a>
              <span class="_name">Dr. Santanu De</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <a href="http://iitk.ac.in/new/sachin-y-shinde">
                <img src="images/member/sachin.jpg" />
              </a>
              <span class="_name">Dr. Sachin Y. Shinde</span>
            </li>
          </ul>
        </div>
    </section>
</section>

<section class="subs">
<span class="subsheader">Aerodynamics</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ronit.jpg" />
              <span class="_name">Ronit Bansal</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/varun.jpg" />
              <span class="_name">Varun Garg</span>
            </li>
          </ul>
        </div>
    </section>
</section>

<section class="subs">
<span class="subsheader">Brakes</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/sarthak.jpg" />
              <span class="_name">Sarthhak Vashist</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ashu.jpg" />
              <span class="_name">Ashutosh Chandra</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/biswa.jpg" />
              <span class="_name">Biswajeet Rath</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/biswa.jpg" />
              <span class="_name">Faraz Shaliban</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/pulkitj.jpg" />
              <span class="_name">Pulkit Gupta</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/pulkitj.jpg" />
              <span class="_name">Pulkit Jain</span>
            </li>
          </ul>
        </div>
    </section>
</section>

<section class="subs">
<span class="subsheader">Chassis</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ayusht.jpg" />
              <span class="_name">Ayush Tulsyan</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/aditya.jpg" />
              <span class="_name">Aditya Pratap Singh Rajawat</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/panshu.jpg" />
              <span class="_name">Pranshu Garg</span>
            </li>
          </ul>
        </div>
    </section>
</section>

<section class="subs">
<span class="subsheader">Powertrain</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/prashumn.jpg" />
              <span class="_name">Prashumn Wrekkonge</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/purwaj.jpg" />
              <span class="_name">Purwaj Tiwari</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/tushar.jpg" />
              <span class="_name">Tushar Agarwal</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/vaibhav.jpg" />
              <span class="_name">Vaibhav Bhagat</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/akarsh.jpg" />
              <span class="_name">Akarsh Pathak</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/anant.jpg" />
              <span class="_name">Anant Veer Singh</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/faizal.jpg" />
              <span class="_name">Faizal Ansari</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/harshul.jpg" />
              <span class="_name">Harshul Lodha</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/pranav.jpg" />
              <span class="_name">Pranav Kulkarni</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/rajesh.jpg" />
              <span class="_name">Rajesh Mishra</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/shlok.jpg" />
              <span class="_name">Shlok Sharma</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/vaibhavr.jpg" />
              <span class="_name">Vaibhav Raj Singh</span>
            </li>

          </ul>
        </div>
    </section>
</section>

<section class="subs">
<span class="subsheader">Vehicle Dynamics</span>
      <section class="slider">
        <div class="flexslider carousel">
          <ul class="slides">
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ayushg.jpg" />
              <span class="_name">Ayush Goel</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/jatin.jpg" />
              <span class="_name">Jatin Agarwal</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ajay.jpg" />
              <span class="_name">Ajay Raj Chaudhary</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/anshumn.jpg" />
              <span class="_name">Anshuman Sinha</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/asim.jpg" />
              <span class="_name">Asim Katakwar</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/ratnesh.jpg" />
              <span class="_name">Ratnesh Swarnkar</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/shubham.jpg" />
              <span class="_name">Shubham Singh</span>
            </li>
            <li onmouseenter="grow_img(this)" onmouseleave="shrink_img(this)">
              <img src="images/member/utkarsh.jpg" />
              <span class="_name">Utkarsh Prasad</span>
            </li>
          </ul>
        </div>
    </section>
</section>
</section>      <!--    members page  ends    -->

<section class="tab-content" id="_alumni">
  <section class="container main-content">
    <h1>Alumni page</h1>
      <section class="photos">
          <div class="people container">
            <img src="images/einstein.jpg">
            text
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
          <div class="people">
            <img src="images/einstein.jpg">
            <span>text</span>
          </div>
      </section>
  </section>
</section>                <!--           alumni page ends            -->




                                        <!--tab-gallery-->
<section class="tab-content" id="_gallery">
  <div class="carousell">
    <a class="carousell-item" href="#one!"><img src=images/gallery/1.jpg></a>
    <a class="carousell-item" href="#two!"><img src=images/gallery/2.jpg></a>
    <a class="carousell-item" href="#three!"><img src=images/gallery/3.jpg></a>
    <a class="carousell-item" href="#four!"><img src=images/gallery/4.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/5.jpg></a>
    <a class="carousell-item" href="#one!"><img src=images/gallery/6.jpg></a>
    <a class="carousell-item" href="#two!"><img src=images/gallery/7.jpg></a>
    <a class="carousell-item" href="#three!"><img src=images/gallery/8.jpg></a>
    <a class="carousell-item" href="#four!"><img src=images/gallery/9.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/10.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/11.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/12.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/13.jpg></a>
    <a class="carousell-item" href="#five!"><img src=images/gallery/14.jpg></a>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
      $('.carousell').carousell();
    });
</script>
</section>
                                          <!--footer-->
<div class="logo2">
  <marquee behaviour="scroll" direction="left" class="logo">
    <img src=sponsor/groz.jpg>
    <img src=sponsor/nippon.jpg>
    <img src=sponsor/rekluse.png>
    <img src=sponsor/lps.png>
    <img src=sponsor/jcbl.png>
    <img src=sponsor/cfw.png>
    <img src=sponsor/pep.png>
    <img src=sponsor/my.png>
    <img src=sponsor/crystal.png>
    <img src=sponsor/state.jpg>
    <img src=sponsor/srf.jpg>
    <img src=sponsor/ktm.jpg>
    <img src=sponsor/hind.png>
    <img src=sponsor/ric.png>
    <img src=sponsor/wilwood.png>
    <img src=sponsor/4i.jpg>
    <img src=sponsor/tinkering.png>
    <img src=sponsor/kaz.png>
    <img src=sponsor/ansys.png>
    <img src=sponsor/solid.png>
    <img src=sponsor/mat.png>;
  </marquee>
</div>
                                          <!--google maps-->
<section class="footer">
  <div class="contacts"  onclick="enablescroll()">
    <div id="map" class="clicked"></div>
      <script>
        function initMap() {
          var uluru = {lat: 26.5112534, lng: 80.2306062};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArDM-W1kwJA0gTGe9iJ-dui2o-RoPlxuA&callback=initMap"></script>
  <div class="about-us">
    <pre>
    Society of Automotive Engineers (SAE)
    Indian Institute of Technology, Kanpur
    Kanpur-208016
    Uttar Pradesh (U.P.)
    India

    sae.iitk@gmail.com
    +91-9565873770
    </pre>
  </div>
    <form class="container my_form">
      <div style="margin-left: 15%; margin-bottom:5% ;color:white ; font-weight: 500; font-size: 2rem;letter-spacing: 5px; text-transform: lowercase; display: inline;" ><i class="fa fa-book"></i>contact us</div><br>
        <input placeholder="First name" id="first_name" type="text" class="validate">
        <input placeholder="Last name" id="last_name" type="text" class="validate"><br>
        <input placeholder="email" id="email" type="text" class="validate"><br>
        <input placeholder="message" id="message" type="text" class="validate"><br>
      <div class="submit_button">Submit</div>
    </form>
  </div>
</section>
                                          <!--preloader-->
  <div id="_preloader"> 
     <div id="loader">
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <div class="object"></div>
      <br>
      <div style="color: yellow; font-size:1.8rem; position: absolute; transform: translate(50px,80px); opacity: 0.5; ">worth waiting xD....</div>
    </div>
  </div> 
                                          <!--script-->
<script type="text/javascript">
          $('.carousell.carousell-sliderr').carousell({fullWidth: true});
          $('li.indicator-item').first().html("home")
          .next().html("about")
          .next().html("sponsors")
          .next().html("members")
          .next().html("alumni")
          .next().html("gallery");

    
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }


</script>
</body>
</html>